<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionStringweb" connectionString="Data Source=.;Initial Catalog=limon;Integrated Security=True;"/>
	</connectionStrings>
	<system.web>
    <!--是否允许调试程序-->
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly" defaultRedirect="NoDBHelper.html">
      <error statusCode="404" redirect="FileNotFound.html"></error>
    </customErrors>
 
	</system.web>
</configuration>
